<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
		<!-- 目标对象 -->
		<bean name="userService" class="com.catherine.service.UserServiceImpl"></bean>
		<!-- 配置通知类型 -->
		<bean name="myAdvice" class="com.catherine.aop.MyAdvice"></bean>
		
		<aop:config>
			<!-- 切入点 expression切入点表达式可以配置要增强的方法 
			public void com.catherine.service.UserServiceImpl.save() //只增强一个方法，如果想要增强多个方法，把不同的地方设置为*
			* com.catherine.service.*ServiceImpl.*(..) //方法默认为public 所以可以省略 用..代替参数类型
			id是唯一标识 -->
			<aop:pointcut expression="execution(* com.catherine.service.*ServiceImpl.*(..))" id="servicePc"/>
			
			<!-- 切面 通知+切入点 -->
			<aop:aspect ref="myAdvice">
			<!-- 通知类型 -->
				<aop:before method="before" pointcut-ref="servicePc"/>
				<aop:after method="after" pointcut-ref="servicePc"/>
				<aop:after-returning method="afterReturning" pointcut-ref="servicePc"/>
				<aop:after-throwing method="afterThrowing" pointcut-ref="servicePc"/>
				<aop:around method="around" pointcut-ref="servicePc"/>
			</aop:aspect>
		</aop:config>
</beans>